openapi: '3.1.1'
info:
  title: Sistema de aprendizagem
  description: API para gerenciamento de recursos de aprendizagem
  version: '0.1'
servers:
  - url: https://extensaoads2.sj.ifsc.edu.br/api/v1

paths:
  /login:
    post:
      description: Login do usuário, define cookie de sessão
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required: [username, password]
      responses:
        '200':
          description: Login bem-sucedido
        '401':
          description: Credenciais inválidas

  /resource:
    put:
      description: Cria um novo recurso
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/resourcePutRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resourcePutResponse'

  /resource/{id}:
    parameters:
      
    get:
      description: Recupera um recurso por ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resourceGetResponse'
        '404': { description: Not Found }

    patch:
      description: Atualiza um recurso existente
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/resourceUpdateRequest'
      responses:
        '200':
          description: Atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resourcePatchResponse'
        '404': { description: Not Found }

    delete:
      description: Deleta um recurso por ID
      responses:
        '204': { description: No Content }
        '404': { description: Not Found }

  /resources/search:
    get:
      description: Busca recursos por título ou data
      parameters:
        - in: query
          name: title
          schema:
            type: string
      responses:
        '200':
          description: Lista de recursos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/resourceGetResponse'

  /eventos:
    get:
      description: Lista todos os eventos
      responses:
        '200':
          description: Lista de eventos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/eventoResponse'

    post:
      description: Cria um novo evento
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventoRequest'
      responses:
        '201':
          description: Evento criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventoResponse'

  /eventos/{id}:
    parameters:
    get:
      description: Recupera evento por ID
      responses:
        '200':
          description: Evento encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventoResponse'

    put:
      description: Atualiza evento
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventoRequest'
      responses:
        '200':
          description: Evento atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventoResponse'

    delete:
      description: Deleta evento
      responses:
        '204': { description: Evento deletado }

security:
  - cookieAuth: []

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session_id

  schemas:
    resourcePutRequest:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
          format: base64
      required: [title, content]

    resourceUpdateRequest:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
          format: base64
      oneOf:
        - required: [title]
        - required: [content]

    resourcePatchResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid

    resourcePutResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid

    resourceGetResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
          format: base64

    eventoRequest:
      type: object
      properties:
        nome:
          type: string
        data:
          type: string
          format: date-time
        descricao:
          type: string
      required: [nome, data]

    eventoResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        nome:
          type: string
        data:
          type: string
          format: date-time
        descricao:
          type: string
